#logo{
	background-image: url('images/logo.jpg');
	color:white;
	background-attachment: fixed;
	min-height: 150px;
	max-height: 750px;
	margin:0;
	padding-top: 150px;
	padding-bottom:20px;
}
#aboutHeader{
	padding-bottom: 30px;
}
#about{
	background-color: #E88673;
	color:white;
	padding-bottom: 40px;
	padding-top:10px;
}
#africans{
	background-image: url('images/african-kids.jpg');
	background-attachment: fixed;
	min-height: 250px;
	max-height: 250px;
	color:white;
}
#logoImage{
	max-height: 30px;
	padding-right: 30px;

}
#aboutImage{
	padding-bottom: 30px;
}
#sdg{
	min-height: 400px;
	min-width: auto;
}
